#contactSection {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Header4 {
  width: 35%;
  background: #31e143;
  margin-top: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  line-height: 0;
}

.Header4 h1 {
  width: 25%;
  color: #444;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5rem;
  text-align: left;
}

.Header4 p {
  color: #fff;
  line-height: 0;
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#contactForm {
  width: 80%;
  max-width: 37.5rem;
  padding: 1em;
  background: linear-gradient(90deg, #e7e7e7, #aaaaaa, #444);
  border-radius: 0.5rem;
  text-align: left;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #444;
  font-size: 1.2em;
}

/* Styles pour les champs input et textarea */
.form-group input[type="email"],
.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  box-sizing: border-box;
  resize: vertical;
}

.form-group input[type="submit"] {
  padding: 0.5em;
  background-color: #31e143;
  color: #444;
  font-size: 1em;
  transition: background-color 0.2s;
  border: 0.125rem solid #444;
  border-radius: 1rem;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #fff;
  border: #31e143 2px solid;
}

.Footer4 {
  position: absolute;
  width: 100%;
  height: 15vh;
  bottom: 0;
  left: 0;
  background-color: #31e143;
  color: #444;
}

@media (max-width: 1400px) {
  .Header4 h1 {
    font-size: 1.8em;
  }
}

@media (max-width: 1350px) {
  .Header4 h1 {
    font-size: 1.6em;
  }
  .Header4 p {
    font-size: 0.8em;
  }
  .form-group label {
    font-size: 1em;
  }
}
@media (max-width: 850px) {
  .Header4 {
    width: 50%;
  }
  .contact {
    margin-top: 4em;
  }
  .Footer4 {
    height: 15vh;
  }
  .Footer4 h2 {
    font-size: 1em;
  }
}
@media (max-width: 580px) {
  .contact {
    margin-top: 5em;
  }
  .Header4 h1 {
    font-size: 1em;
    line-height: 0.8rem;
  }
  .Header4 p {
    font-size: 0.7em;
  }
  .form-group {
    margin-bottom: 0.5em;
  }
  .form-group input[type="email"],
  .form-group input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    resize: vertical;
  }
  .form-group textarea {
    padding: 0.5rem;
    height: 5em;
  }
  .form-group label {
    font-size: 0.8em;
  }
}
@media (max-width: 450px) {
  .Header4 p {
    font-size: 0.5em;
  }
}
/* Special Nest hub */
@media (width: 1024px) and (height: 600px) {
  .form-group {
    margin-bottom: 0.5em;
  }
  .form-group input[type="email"],
  .form-group input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    resize: vertical;
  }
  .form-group textarea {
    padding: 0.5rem;
    height: 5em;
  }
  .form-group label {
    font-size: 0.8em;
  }
}
