.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}
.main-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  background: linear-gradient(90deg, #444, #aaaaaa, #e7e7e7, #fff);
  border-radius: 0.3125rem;
  padding: 1em;
}

.img-ctn {
  width: 30%;
  height: auto;
}

.img-ctn img {
  width: 100%;
}

.Intro {
  width: 50%;
  padding: 1em;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.Intro h2 {
  color: #31e143;
  font-size: 2.8em;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  line-height: 2.75rem;
  text-align: left;
  margin: 0;
}

.ctn-cta p {
  text-align: left;
  font-size: 1.3em;
  margin: 0;
  margin-bottom: 1em;
  line-height: 1.25rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta a {
  padding: 0.5em;
  background-color: #31e143;
  color: #444;
  font-size: 1em;
  transition: background-color 0.2s;
  border: 0.125rem solid #444;
  border-radius: 1rem;
  cursor: pointer;
}

.cta a:hover {
  background-color: #fff;
  border: 0.125rem solid #31e143;
}

@media (max-width: 1400px) {
  .main-card {
    width: 60%;
  }
  .Intro h2 {
    font-size: 2.2em;
    line-height: 2.2rem;
  }
  .img-ctn {
    width: 15em;
  }
}
@media (max-width: 1350px) {
  .Intro h2 {
    font-size: 2em;
    line-height: 1.8rem;
  }
  .ctn-cta p {
    font-size: 1em;
  }
}
@media (max-width: 1150px) {
  .main-card {
    width: 70%;
  }
  .Intro h2 {
    font-size: 1.5em;
    line-height: 1.5rem;
  }
  .ctn-cta p {
    font-size: 1.1em;
  }
  .cta a {
    font-size: 1em;
  }
}

@media (max-width: 850px) {
  .main-ctn {
    margin-top: 4em;
  }
  .main-card {
    flex-direction: column-reverse;
    width: 90%;
    height: 25em;
  }
  .Intro {
    width: 70%;
  }
  .img-ctn {
    width: 30%;
  }
  .cta {
    width: 50%;
  }
}

/* Pour les smartphones (écrans plus petits) */
@media (max-width: 700px) {
  .Intro {
    padding: 1em;
    width: 80%;
    height: 8em;
    margin: 1em;
  }
  .img-ctn {
    width: 40%;
  }
  .cta a {
    margin-bottom: 0.5em;
  }
}
@media (max-width: 510px) {
  .main-card {
    height: auto;
  }
  .Intro {
    width: auto;
    height: auto;
    flex-direction: column;
    margin: 0.5em;
  }
  .Intro h2 {
    font-size: 1.3em;
    line-height: 1.3rem;
  }
  .Intro p {
    font-size: 1.1em;
  }
  .cta a {
    font-size: 1em;
  }
}
@media (max-width: 380px) {
  .Intro h2 {
    font-size: 1em;
    line-height: 1rem;
  }
  .Intro p {
    font-size: 0.9em;
  }
  .cta a {
    font-size: 1em;
  }
}
@media (max-width: 330px) {
  .Intro h2 {
    font-size: 0.8em;
    line-height: 1rem;
  }
  .Intro p {
    font-size: 0.7em;
  }
  .cta a {
    font-size: 0.8em;
  }
}
