.ThreeDLogo {
  height: 5em;
  width: 5em;
}

.Logo3D {
  margin: 0 auto;
  display: block;
}
@media (max-width: 1350px) {
  .ThreeDLogo {
    height: 4em;
    width: 4em;
  }
}
@media (max-width: 1100px) {
  .ThreeDLogo {
    height: 3em;
    width: 3em;
  }
}
