.NotFound-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.NotFound {
  background-color: #444;
  color: #53cf60;
  width: auto;
  height: auto;
  border-radius: 5px;
  margin-top: 2em;
  padding: 1em;
}
.NotFound a {
  padding: 0.5em;
  background-color: #fff;
  color: #53cf60;
  font-size: 1em;
  transition: background-color 0.2s;
  border: 0.125rem solid #53cf60;
  border-radius: 1rem;
  cursor: pointer;
  text-decoration: none;
}
.NotFound a:hover {
  background-color: #fff;
  border: #444 2px solid;
  color: #444;
}
