.ctn-header {
  position: fixed;
  z-index: 1;
  top: 3em;
  left: 3em;
  transition: background-color 0.3s ease;
}

.ctn-header .nav {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  background: #53cf60;
  border-radius: 0.3125rem;
}

.ctn-header .nav .nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ctn-header .nav .nav-links .links {
  margin: 0.625rem 0;
}

.ctn-header .nav .nav-links .links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  padding: 0.625rem;
  display: block;
  cursor: pointer;
  transition: background-color 0.2s;
}

.ctn-header .nav .nav-links .links a:hover {
  background-color: #fff;
  color: #31e143;
}

@media (max-width: 1350px) {
  .ctn-header {
    left: 2em;
  }
  .ctn-header .nav .nav-links .links a {
    font-size: 1rem;
  }
}
@media (max-width: 1100px) {
  .ctn-header {
    left: 1em;
  }
  .ctn-header .nav .nav-links .links a {
    font-size: 0.8rem;
  }
}
@media (max-width: 850px) {
  .ctn-header {
    top: 1em;
  }
  .ctn-header .nav .nav-links {
    flex-direction: row;
  }
  .ctn-header .nav .nav-links .links {
    margin: 0;
  }
  .ctn-header .nav .nav-links .links a {
    padding: 0.625rem;
    flex-direction: row;
  }
}
@media (max-width: 370px) {
  .ctn-header .nav .nav-links .links a {
    font-size: 0.7rem;
  }
  .ctn-header .nav .nav-links .links a {
    padding: 0.45rem;
  }
}
