#skillsSection {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Header2 {
  width: 30%;
  background: #31e143;
  margin-top: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.625rem;
  line-height: 0;
}
.Header2 h1 {
  width: 25%;
  color: #444;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5625rem;
  text-align: left;
}
.Header2 p {
  color: #fff;
  line-height: 0;
}
.main-ctn2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.skills-column {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
  border-radius: 0.3125rem;
  margin: 0;
}
.ctn-skill {
  width: 25%;
  margin: 2em;
  background-color: #31e143;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
  border-radius: 0.3125rem;
  color: #fff;
}
.ctn-skill h2 {
  color: #444;
}
.Citation {
  width: 60%;
  background-color: #444;
  color: #fff;
  border-radius: 0.3125rem;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  padding-top: 0;
  text-align: left;
  line-height: 1.125rem;
  font-size: 1.2em;
}
.Citation span {
  font-style: italic;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10em;
}
.Footer2 {
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0;
  left: 0;
  background-color: #31e143;
  color: #444;
}

@media (max-width: 1800px) {
  .Citation {
    font-size: 95%;
  }
}
@media (max-width: 1400px) {
  .Header2 h1 {
    font-size: 1.8em;
  }
  .skills-column {
    width: 60%;
  }
  .ctn-skill {
    width: 40%;
  }
  .Citation {
    width: 70%;
    font-size: 90%;
  }
}

@media (max-width: 1350px) {
  .Header2 h1 {
    font-size: 1.6em;
  }
  .Header2 p {
    font-size: 0.8em;
  }
}
@media (max-width: 1000px) {
  .Header2 h1 {
    font-size: 1.4em;
    line-height: 1.2rem;
  }
  .Header2 p {
    font-size: 0.8em;
  }
  .ctn-skill {
    margin: 1em;
  }
  .ctn-skill h2 {
    font-size: 1.2em;
  }
  .ctn-skill p {
    font-size: 0.8em;
  }
}
@media (max-width: 768px) {
  .Header2 h1 {
    font-size: 1.2em;
  }
  .ctn-skill {
    width: 60%;
  }
  .Citation {
    width: 80%;
    margin-right: 2em;
  }
  .Footer2 {
    height: 20%;
  }
}

@media (max-width: 480px) {
}
