#worksSection {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.grid-ctn {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.works-grid {
  width: 80%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, auto);
  background-color: #444;
  border-radius: 0.625rem;
  gap: 2em;
  padding: 2em;
}
.work-card {
  position: relative;
  background-color: #fff;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
  height: auto;
  width: auto;
  color: #53cf60;
}
.work-card img {
  max-width: 325px;
  max-height: 155px;
  width: 90%;
  border-radius: 0.3125rem;
  border: 0.125rem solid rgba(0, 0, 0, 0.3);
}
.work-card img:hover {
  border: 0.125rem solid #53cf60;
}
.work-card p {
  color: #444;
  text-align: left;
  margin: 0.625rem;
  margin-left: 0.9375rem;
  line-height: 0.9375rem;
}

@media (max-width: 1490px) {
  .works-grid {
    width: 60%;
  }
}

@media (max-width: 1200px) {
  .grid-ctn {
    width: auto;
    height: auto;
  }
}
@media (max-width: 1100px) {
  .works-grid {
    grid-template-columns: repeat(2, auto);
  }
  .work-card h2 {
    font-size: 1em;
  }
  .work-card p {
    font-size: 0.8em;
  }
  .work-card img {
    width: 60%;
  }
}
@media (max-width: 850px) {
  .grid-ctn {
    margin-top: 3em;
  }
  .works-grid {
    width: 80%;
    height: auto;
  }
  .work-card img {
    width: 50%;
  }
}
@media (max-width: 540px) {
  .grid-ctn {
    margin-top: 1em;
  }
  .work-card h2 {
    font-size: 0.8em;
  }
  .work-card img {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .works-grid {
    gap: 1em;
    padding: 1em;
  }

  .work-card h2 {
    font-size: 0.7em;
  }
  .work-card p {
    font-size: 0.6em;
  }
  .work-card img {
    width: 90%;
  }
}
/* Special Nest hub */
@media (width: 1024px) and (height: 600px) {
  .works-grid {
    grid-template-columns: repeat(3, auto);
  }
}
