#worksSection {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.grid-ctn {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.works-grid {
  width: 80%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, auto);
  background-color: #f6f6f6;
  border-radius: 1.25rem;
  gap: 2em;
  padding: 2em;
}
.work-card {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-color: #31e143;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
  border-radius: 0.625rem;
  height: auto;
  width: auto;
  color: #444;
}
.work-card img {
  width: 90%;
  border-radius: 0.3125rem;
}
.kasa {
  background-color: #fff;
  padding: 0.5em;
}
.work-card p {
  color: #fff;
  text-align: left;
  margin: 0.625rem;
  margin-left: 0.9375rem;
  line-height: 0.9375rem;
}

@media (max-width: 1490px) {
  .works-grid {
    width: 60%;
  }
}

@media (max-width: 1200px) {
  .grid-ctn {
    width: auto;
    height: auto;
  }
}
@media (max-width: 1100px) {
  .works-grid {
    grid-template-columns: repeat(2, auto);
  }
  .work-card h2 {
    font-size: 1em;
  }
  .work-card p {
    font-size: 0.8em;
  }
  .work-card img {
    width: 60%;
  }
}
@media (max-width: 850px) {
  .grid-ctn {
    margin-top: 3em;
  }
  .works-grid {
    width: 80%;
    height: auto;
  }
  .work-card img {
    width: 50%;
  }
}
@media (max-width: 540px) {
  .grid-ctn {
    margin-top: 4.5em;
  }
  .work-card h2 {
    font-size: 0.8em;
  }
  .work-card img {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .grid-ctn {
    width: 95%;
  }
  .work-card p {
    display: none;
  }
  .work-card img {
    width: 100%;
  }
}
/* Special Nest hub */
@media (width: 1024px) and (height: 600px) {
  .works-grid {
    grid-template-columns: repeat(3, auto);
  }
}
